@charset "UTF-8";

body {
	font-size: 20pt;
}
@keyframes rainbow {
  0% { color: #ff0000; }
  14% { color: #ff7f00; }
  28% { color: #ffff00; }
  42% { color: #00ff00; }
  57% { color: #0000ff; }
  71% { color: #4b0082; }
  85% { color: #9400d3; }
  100% { color: #ff0000; }
}

/* 동적 클래스 */
.rainbow-text {
  font-size: 20px;
  font-weight: bold;
  animation: rainbow 3s linear infinite;
  text-shadow: 0 0 5px rgba(255,255,255,0.5);
}